html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

html,body
{
	width:100%;
    height:100%;
    overflow: hidden;
    background-image: url(../img/wrapper.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    margin: 0;
}

.stats {
    padding-top: 15px;
    width: 25%;
    height: 100%;
    display: inline-block;
    z-index: 10;
    vertical-align:top;
}

.game {
    width: 50%;
    height: 100%;
    display: inline-block;
    z-index: 10;
    vertical-align:top;
}

.items{
    padding-top: 15px;
    width: 25%;
    height: 100%;
    display: inline-block;
    z-index: 10;
    vertical-align:top;
}

#battleField{
    width: 100%;
    height: 35%;
    background-size: cover;
    background-repeat: no-repeat;
    display: inline-block;
    left: 0;
    bottom: 0;
    z-index: 10;
}

#attackButton
{
	width:200px;
    height:100px;
    background-image: url(../img/attackButton.png);
    background-size: contain;
    background-repeat: no-repeat;
	cursor:pointer;
    z-index: 11;
    
    transition-duration: 0.5s;
    margin: auto;
}

#attackButton:hover{
    opacity: 0.9;
    
    transition-duration: 0.5s;
}

#playerDetails {
    height: 5%;
    display: inline-block;
    top: 0;
    margin: 0 auto;
    width: 100%;
    text-align: center;
    font-weight: bolder;
    font-size: 30px;
    color: white;
    
}

#playerHealth{
    display: inline-block;
    background-color: rgb(167, 167, 167);
    width: 100%;
    height: 14px;
    border: 1px solid black;
}

#playerRealHealth{
    background: linear-gradient(to right, rgba(255,0,0,0), rgba(255,0,0,1));
    width: 100%;
    height: 14px;
    transition-duration: 0.5s;
}

#vilainDetails {
    height: 5%;
    display: inline-block;
    top: 0;
    margin: 0 auto;
    width: 100%;
    text-align: center;
    font-weight: bolder;
    font-size: 30px;
    color: white;
}

#vilainHealth{
    display: inline-block;
    background-color: rgb(167, 167, 167);
    width: 100%;
    height: 14px;
    border: 1px solid black;
    
}

#vilainRealHealth{
    background: linear-gradient(to right, rgba(255,0,0,0), rgba(255,0,0,1));
    width: 100%;
    height: 14px;
    transition-duration: 0.5s;
    
}

#mainView {
    height: 45%;
    display: inline-block;
    top: 0;
    margin: 0 auto;
    width: 100%;
}

.statsPoint {
    color: white;
    height: 40px;
    width: 90%;
    border-radius: 5px;
    background-color: #fff;
    color: black;
    margin-bottom: 10px;
    text-align: center;
    padding-top: 15px;
    margin-left: 15px;
    border: 1px solid black;
}

.itemUpgrade {
    color: white;
    height: 10%;
    color: white;
    height: 40px;
    width: 90%;
    border-radius: 5px;
    background-color: #fff;
    color: black;
    margin-bottom: 10px;
    text-align: center;
    padding-top: 15px;
    margin-left: 15px;
    border: 1px solid black;
}