
  /* background set */
body {
	background-image: url("imgs/BG.png");
	background-color: #cccccc;
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-position: center top; 
	background-size: cover;
	margin: 0;
  padding: 0;	
}
   /* Slideshow container */
  .slideshow-container {
    max-width: 1000px;
    padding-top: 75px;
    position: relative;
    margin: auto;
    font-size: 150px;
  }
  
  .mySlides {
      display: none;
  }
  
  /* Next & previous buttons */
  .prev, .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    margin-top: -22px;
    padding: 16px;
    color: white;
    font-weight: bold;
    font-size: 36px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
  }
  
  /* Modify position the "next button" to the right */
  .next {
    right: -1em;
   }
   .prev {
    left: -1em;
   }

  /* Add a #CLR background on hover */
  .prev:hover, .next:hover {
    background-color: rgba(185, 47, 13, 0.7);
  }
  
  /* Styles of texts */
  .textBox{
    font-family:Muskaters;
    color : white;
    text-align: center;
    font-size:100px;
    position:relative;
    margin-left:auto;
    margin-right:auto;
 }
 
 .subTextBox{
      font-family:Muskaters;   
      color : #8bd1d0;
      text-align: center;
      font-size:40px;
      position:relative;
      top:-107px;
 }
  /* The dots/bullets */
  .dot {
    cursor:pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: rgb(128, 114, 114);
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
  }
  

  .active, .dot:hover {
    background-color: #524e4e;
  }
  
  /* Fading animation */
  .fade {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 1.5s;
    animation-name: fade;
    animation-duration: 1.5s;
  }
  /* Team style CSS */

 .avatar1{
    margin-left: 4%;
    margin-right: 4%;
    padding-left:1.5%;
    padding-right:1.5%;
    border-radius: 75%;
   
  }
  .avatar2{
    margin-left: 4%;
    margin-right: 4%;
    padding-left:1.5%;
    padding-right:1.5%;
    border-radius: 75%;
   
  }
  .avatar3{
    margin-left: 4%;
    margin-right: 4%;
    padding-left:1.5%;
    padding-right:1.5%;
    border-radius: 75%;
  
  }
  .avatar4{
    margin-left: 4%;
    margin-right: 4%;
    padding-left:1.5%;
    padding-right:1.5%;
    border-radius: 75%;
   
  }
 .avatar1:hover{
  background-color: rgba(69, 199, 199, 0.5);
}
.avatar2:hover{
  background-color: rgba(69, 199, 199, 0.5);
}
.avatar3:hover{
  background-color: rgba(69, 199, 199, 0.5);
}
.avatar4:hover{
  background-color: rgba(69, 199, 199, 0.5);
}
  @-webkit-keyframes fade {
    from {opacity: .4} 
    to {opacity: 1}
  }
  
  @keyframes fade {
    from {opacity: .4} 
    to {opacity: 1}
  }

  @font-face {
    font-family: Muskaters;
    src: url(fonts/Muskaters.ttf);
  }
}