@font-face {
    font-family: titleFont;
    src: url(fonts/Muskaters.ttf);
}

body {
    background-color: rgb(65, 65, 65);
}


.containerBox {
    position: absolute;
    width: 350px;
    background-color: rgba(255,255,255,0.3);
    padding: 20px;
    margin: 100px;
    border-radius: 2%;
}

.titleBox {
    font-family: titleFont;
    font-size: 80px;
    text-align: center;
    position: relative;
    color: white;
    top: -50px;
}

.storyBox {
    text-align: justify;
    margin-top: -35px;
}