
@font-face {
    font-family: titleFont;
    src: url(fonts/Muskaters.ttf);
}

@font-face {
    font-family: playFont;
    src: url(fonts/ERASBD.ttf);
}

::-moz-selection { 
    background: transparent;
}

::selection {
    background: transparent;
}


body {
	background-image: url("imgs/BG.png");
	background-color: #cccccc;
	background-repeat: no-repeat;
    background-attachment: fixed;
	background-position: center top; 
	background-size: cover;
	margin: 0;
    padding: 0;	
}

div.mb-container {
	background-image: url("imgs/main.png");
	background-repeat: no-repeat;
	background-position: center top; 
    background-size: 370px 600px;
	position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;	

}

div.titleText {
	font-family: titleFont;
	font-size: 150px;
	color: white;
	text-align: center;
	cursor: default;
}

div.playBT {
	background-image: url("imgs/mainBTglow.png");
	background-color: #8bd1d0;
	background-size: 210px 210px;
	background-position: center; 
	border-radius: 50%;
    position: absolute;
    margin-left: auto;
    margin-right: auto;
	margin-top: 250px;
    top: 20;
    left: 0;
    right: 0;
    bottom: 0;
	width: 200px;
    height: 200px;
	cursor: pointer;
	transition: 0.3s;
}

div.playBT:hover {
	background-color: befbfa;
	background-size: 210px 210px;
	background-position: center; 
	border-radius: 50%;
    position: absolute;
    margin-left: auto;
    margin-right: auto;
	margin-top: 250px;
    top: 20;
    left: 0;
    right: 0;
    bottom: 0;
	width: 200px;
    height: 200px;
	cursor: pointer;
	transition: 0.3s;
}

div.playBT:active {
	background-image: url("");
	background-color: white;
	background-size: 210px 210px;
	background-position: center; 
	border-radius: 0%;
    position: absolute;
    margin-left: auto;
    margin-right: auto;
	margin-top: 150px;
    top: 10;
    left: 0;
    right: 0;
    bottom: 0;
	width: 99%;
    height: 500px;
	cursor: pointer;
	transition: 0.3s;
}


div.playText {
	font-family: playFont;
	font-size: 64px;
	padding-top: 65px;
	color: white;
	text-align: center;
}

.registerBox {
	background-color: #8bd1d0;
	background-position: center; 
    position: absolute;
    margin-left: auto;
    margin-right: auto;
	margin-top: 250px;
    top: -70px;
    left: 0;
    right: 0;
    bottom: 0;
	width: 400px;
    height: 60px;
	cursor: pointer;
	transition: 0.3s;
	transition-timing-function: ease-in-out;
}

.registerBox:active {
	background-color: #8bd1d0;
	background-position: center; 
    position: absolute;
    margin-left: auto;
    margin-right: auto;
	margin-top: 250px;
    top: -170px;
    left: 0;
    right: 0;
    bottom: 0;
	width: 400px;
    height: 350px;
	cursor: pointer;
	transition: 0.3s;
	transition-timing-function: ease-in-out;
}

.registerBox .registerBox-content:before, .registerBox .registerBox-content:after {
 content: "";
 position: absolute;
 display: block;
 border-style: solid;
 border-color: #669796 transparent transparent transparent;
 bottom: -0.49em;
}

.registerBox .registerBox-content:before {
 left: 0;
 border-width: 0.5em 0 0 0.53em;
}
.registerBox .registerBox-content:after {
 right: 0;
 border-width: 0.5em 0.55em 0 0;
}


div.registerText {
	font-family: titleFont;
	font-size: 52px;
	color: white;
	text-align: center;
	
}


